/*normalize*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
/*font*/
@import url('https://fonts.googleapis.com/css2?family=Liter&display=swap');
/**/
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css");

:root{
    /*cores*/
    --azulUm: #347FC4;
    --azulDois: #022F40;
    --azulTres: #0075a2;
    --white: #ebf2fa;
    --black: #071013;
    --verdeUm: #1b8654;
    --verdeDois: #0E9594;
    --verdeTres: #127475;
    
    /*font*/
    --ffamily: "Liter", serif;
    --fsize: 
}


html, body, #wrap{
    position: relative;
    height: 100%;
    width: 100%;
    font-family: var(--ffamily);
    
}

#wrap {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    background-color: var(--white);
}

/*HEADER*/
header{
    display: flex;
    justify-content: space-between;
    height: 5rem;
    background-color:var(--white);
    padding: 1rem;
}

header div{
    display:flex;
    align-items: center;
}

header img{
    height: 3.5rem;
    width: auto;
    border-radius: 100%;
    padding: 0.1rem;
}

header a{
    display: flex;
    text-decoration: none;
    color: var(--black);
}

#imageUser{
    margin-left: 1.5rem;
    border-radius: 100%;
    transition: 0.3s background-color;
}

#imageUser:hover{
    background-color: var(--azulTres); 
    border-radius: 100%;  
}


header h1{
    margin-top: 1rem;
}

header span{
    font-weight: bold;
}
/*HEADER*/

/*NAV*/
nav{
    height: 80px;
    margin: 20px;
    border-radius: 1rem;
    background-color: var(--azulUm);
    font-weight: bold;
    font-size: large ;
}

.navbar-toggler{
    border: none;
    font-size: 1.5rem;
}

.navbar-toggler:focus, .btn-close:focus{
    box-shadow: none;
    outline: none;
}

/*NAV*/

/*MAIN*/
main{
    flex-grow: 1;
    background-color: var(--white) ;
}
/*MAIN*/

/*FOOTER*/
footer{
    display: flex;
    justify-content: center;
    height: 2.5rem;
    color: var(--white);
    font-size: larger;
    background-color: var(--azulDois);
}

/*FOOTER*/